<%#* ARTISTE NAME %>
<h1><%= @artist.name %></h1>

<%#* ARTISTE PROFILE PICTURE %>
<%= image_tag "#{@spotify.images.first["url"]}" %>

<%#* ARTISTE SPOTIFY PAGE %>
<a href="<%= @spotify.external_urls["spotify"] %>">More info</a>

<%#* ARTISTE MUSIC TYPE %>
<p><%=  @spotify.genres %></p>

<div data-track-name="<%= @spotify.top_tracks(:fr).first(5).map { |track| track.name} %>"
data-track-preview="<%= @spotify.top_tracks(:fr).first(5).map { |track| track.preview_url} %>"
data-track-image="<%= @spotify.top_tracks(:fr).first(5).map { |track| track.album.images.first["url"]} %>"
data-controller="spotify-player">

  <button data-action="click->spotify-player#previous">Previous</button>
  <button data-action="click->spotify-player#play-pause">Play/Pause</button>
  <button data-action="click->spotify-player#next">Next</button>

</div>

<% @spotify.top_tracks(:fr).first(5).each do |track| %>
  <p><%= track.name %></p>
  <%= image_tag "#{track.album.images.first["url"]}" %>
  <li>
    <a href="<%= track.preview_url %>">Listen</a>
  </li>
<% end %>
