<div class="container">
  <h1 class="sub-title">M<span>es chatrooms</span></h1>
  <div class="chatrooms-favorites-card">

    <% @favorites.each do |favorite| %>
      <%= link_to chatroom_path(favorite.festival.chatrooms.first), class: "fav-card" do %>
        <div class="fav-left">
          <%= cl_image_tag favorite.festival.photo.key %>
        </div>

        <div class="fav-right">
          <div class="separator">
            <div class="top">
              <h1 class="favorite-title-text"><%= favorite.festival.name %></h1>
            </div>
            <div class="middle">
              <h3 class="text-location"><%= favorite.festival.location %></h3>
            </div>
          </div>

          <div class="bottom">
            <p class="date-text"><%= l favorite.festival.start_date, format: :long %> - <%= l favorite.festival.end_date, format: :long %></p>
          </div>
        </div>
      <% end %>

  <% end %>
  </div>
</div>
