

<div class="card-festivals">
  <% @festivals.each do |festival| %>
    <div class="card-festival">
      <%= link_to festival_path(festival) do %>
        <div class="card-festival-image" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path festival.photo.key %>')">
          <button class="heart-icon">
            <%= svg_tag "icons/heart" %>
          </button>
          <div class="card-festival-title">
            <h2><%= festival.name.upcase %></h2>
          </div>
        </div>
        <div class="card-festival-content">
          <div class="card-festival-bottom">
            <div class="card-festival-location">
              <p><%= festival.location %></p>
            </div>
            <div class="card-festival-date">
              <p><%= festival.start_date.strftime("%d/%m/%Y") %> - <%= festival.end_date.strftime("%d/%m/%Y") %></p>
            </div>
            <div class="card-festival-inputs">
              <button class="shared-icon">
                <%= svg_tag "icons/share" %>
              </button>
              <button class="ticket-icon">
                <%= svg_tag "icons/ticket" %>
              </button>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
