
<div class="index-festival-container">
  <div class="content-festival-left">
  <div class="index-festival-result-search">
  <h1> <% if @festivals.count == 0 %>
    Désolé, aucun résultat trouvé
    <% elsif @festivals.count == 1 %>
    <%= @festivals.count %> festival trouvé pour : <br>
    <%= params[:query] %>
    <% else %>
    <%= @festivals.count %> festivals trouvés
    <% end %>
  </h1>
</div>
    <%= render "shared/festival-card" %>
  </div>
  <%= render "shared/map" %>
</div>
