<div class="container festival-show-container">
<div class="festival-top-inputs">
  <%= link_to festivals_path, class: "back-icon" do %>
    <%= svg_tag "icons/back" %>
  <% end %>
    <%= link_to "Billetterie", @festival.url, class: "btn-secondary", target: "_blank" %>
</div>

  <div class="festival-show-top">

    <div class="festival-show-left" style="background-image: url('<%= cl_image_path @festival.photo.key %>')">
      <% if  Favorite.find_by(user: current_user, festival: @festival).nil? %>
        <%= simple_form_for [@festival, @favorite] do |f| %>
          <button type="submit" class="heart-icon">
            <%= svg_tag "icons/heart" %>
          </button>
        <% end %>
      <% else %>
        <%= svg_tag "icons/heart", class: "liked" %>
      <% end %>
    </div>

    <div class="festival-show-right">

      <div class="festival-title-container">
        <div class="festival-title-left">
          <h1 class="festival-title-text"><%= @festival.name %></h1>
        </div>
        <%= svg_tag "icons/share" %>
      </div>

      <div class="festival-artists-container">
        <% @artists_name.each_with_index do |artist, index| %>
          <%= link_to festival_artist_path(params[:id], Artist.find_by(name: artist)), class: "festival-artist" do %>
            <%= image_tag "#{@artists_picture[index]}" %>
            <h3 class="album-text artist-text"><%= artist %></h3>
          <% end %>
        <% end %>
      </div>

      <p class="paragraph-text"><%= @festival.description %></p>

      <div class="festival-show-info">
        <p class="festival-info-text"><%= @festival.location %></p>
        <p class="festival-info-text"><%= l @festival.start_date , format: :long %> - <%= l @festival.end_date, format: :long %></p>
      </div>

    </div>

  </div>

  <div class="festival-show-bottom"
      data-controller="map"
      data-map-marker-value="<%= @marker.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>



</div>
